<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="StyleRegistration.css">
</head>
<body>
    <div class="card">
  <h2 class="title" style="border-bottom: 1px solid #f4f4f5; margin-bottom: 5px; padding-bottom: 10px;  ">📝  Регистрация</h2>


  <form class="form">
    <div class="field-group">
      <label class="label" style="padding-top: 20px;">Имя</label>
      <input type="text" class="input" placeholder="Введите ваше имя">

    </div>

    <div class="field-group">
      <label class="label">Фамилия</label>
      <input type="text" class="input" placeholder="Введите вашу фамилию">

    </div>

    <div class="field-group">
      <label class="label">Пароль</label>
      <input type="password" class="input" placeholder="Придумайте пароль">
    </div>

    <div class="field-group">
    <label style="font-size: 14px; color: #ffffff; justify-content: center;" class="custom-checkbox-label">
      <input type="checkbox" class="original-checkbox" required>
      <span class="custom-checkbox"></span>
      Я принимаю условия
    </label>
  </div>
    <button type="submit"><a href=". /index2. html">зарегирстся</a></button>
  </form>
</div>
    </form>
</body>
</html>